body {
    background: no-repeat center/100% url("../images/back.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding-left: 10em;
    padding-right: 10em;
}
.header {
    background-color: rgba(250, 235, 215, 0.5);
    
}